{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h1>Vulnerabilidades</h1>

  <form class="d-flex justify-content-between mt-4 mb-4" action="/vulnerabilities/" method="GET">
    <div class="form-row"></div>
    {% csrf_token %}

    {{form.as_p}}

    <div class="col-md-2 mt-6">
      <button type="submit" class="btn btn-primary mx-auto">Buscar</button>
    </div>
  </form>

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sitio web</th>
        <th scope="col">Estado</th>
        <th scope="col">Descripción</th>
        <th scope="col">Severidad</th>
      </tr </thead>
    <tbody>
      {% for vulnerability in vulnerabilities %}
      <tr>
        <th scope="row">
          {% if vulnerability.cve %}
          {{ vulnerability.cve.id }}
          {% else %}
          {{ vulnerability.id }}
          {% endif %}
        </th>
        <td>
          {% if vulnerability.cve %}
          {{vulnerability.cve.sourceIdentifier}}
          {% else %}
          {{ vulnerability.source_identifier }}
          {% endif %}
        </td>
        <td>
          {% if vulnerability.cve %}
          {{vulnerability.cve.vulnStatus}}
          {% else %}
          {{ vulnerability.vuln_status }}
          {% endif %}
        </td>
        <td>
          <ul>
            {% if vulnerability.cve %}
            {% for description in vulnerability.cve.descriptions %}
            <li>{{description.value}}</li>
            {% endfor %}
            {% else %}
            {% for description in vulnerability.descriptions.all %}
            <li>{{ description.value }}</li>
            {% endfor %}
            {% endif %}
          </ul>
        </td>
        <td>
          <ul>
            {% if vulnerability.cve %}
            {% for metric in vulnerability.cve.metrics.cvssMetricV2 %}
            <span>{{metric.baseSeverity}}</span>
            {% endfor %}
            {% else %}
            {% for metric in vulnerability.metrics.all %}
            <li>{{ metric.base_severity }}</li>
            {% endfor %}
            {% endif %}
          </ul>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>
{% endblock %}